<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
    <a class="navbar-brand" href="../layout.html" th:href="@{/}">ReNew kft.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="d-flex flew-row" style="float:left;">
        <ul class="navbar-nav">
            <div xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"></div>
            <li class="nav-item active">
                <a class="nav-link" href="../layout.html" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../layout.html" th:href="@{/about}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../layout.html" th:href="@{/machines}">Notebooks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../layout.html" th:href="@{/contact}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../layout.html" th:href="@{/contacts}">Contacts list</a>
            </li>
        </ul>
        </div>
        <div class="d-flex" style="float:right; margin-left: auto;">
            <div xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
                </div>
            <ul class="navbar-nav">
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/register">Registration</a>
                </li>
                <li sec:authorize="hasAuthority('USER')" class="nav-item">
                    <a class="nav-link" href="/admin/">User</a>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>
                <div class="mx-2 my-auto" sec:authorize="isAuthenticated()">
                    <span>Üdvözöljük <span sec:authentication="principal.username"/>!</span>
                </div>
                <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item">
<!--                TODO fix this-->
                    <!--                    <a href="/logout">Logout</a>-->
                    <form th:action="@{/logout}" method="post">
                        <input class="nav-link" type="submit" value="Logout"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>