<div th:fragment="homepage">
    <h2 class="text-center">
        ReNew Kft
    </h2>
    <p class="mt-2">
        ReNew Kft is a company that's has a profile which is mainly based around refurbishing notebooks with approvement
         from the manufacturers itself.
    </p>
    <img class="hp-1-img" th:src="@{/img-hp-1.jpeg}"/>
    <p>
        We have the most recent and cutting-edge notebooks, and also the most
        Even though our laptops are refurbished, it doesn't mean they have any sign of use.
        You won't find a single scratch on our laptops, or else you can send it back to us, and we will replace
        the notebook or repair it as fast as we can, and you also get a discount on it.
    </p>
</div>