<div th:fragment="machinespage">

    <table class="table table-striped gep-table" style="border-radius: 15px !important;">
        <thead>
            <tr>
                <th scope="col">Manufacturer</th>
                <th scope="col">Model</th>
                <th scope="col">Display size</th>
                <th scope="col">Memory</th>
                <th scope="col">Storage</th>
                <th scope="col">GPU</th>
                <th scope="col">Processor</th>
                <th scope="col">Operating system</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="gep : ${notebooks}">
                <td th:text="${gep.gyarto}"></td>
                <td th:text="${gep.tipus}"></td>
                <td th:text="${gep.kijelzo}"></td>
                <td th:text="${gep.memoria}"></td>
                <td th:text="${gep.merevlemez}"></td>
                <td th:text="${gep.videovezerlo}"></td>
                <td>
                    <span th:text="${gep.processzor.gyarto}"></span>
                    <span>-</span>
                    <span th:text="${gep.processzor.tipus}"></span>
                </td>
                <td th:text="${gep.oprendszer.nev}"></td>
                <td>
                    <span th:text="${gep.ar}"></span> Ft
                </td>
                <td th:text="${gep.db}"></td>
            </tr>
        </tbody>
    </table>
</div>