<div th:fragment="home">
    <div th:replace="fragments/homepage :: homepage"></div>
</div>
<div th:fragment="about">
    <div th:replace="fragments/aboutpage">About page fallback</div>
</div>
<div th:fragment="login">
    <div th:replace="fragments/loginpage">Login page fallback</div>
</div>
<div th:fragment="admin">
    <div th:replace="fragments/adminpage">Admin page fallback</div>
</div>
<div th:fragment="machines">
    <div th:replace="fragments/machinespage">Machines list fallback</div>
</div>
<div th:fragment="contact">
    <div th:replace="fragments/contactpage"> Contact page fallback </div>
</div>
<div th:fragment="contactSent">
    <div th:replace="fragments/contactSent">Contact sent fallback</div>
</div>
<div th:fragment="contacts">
    <div th:replace="fragments/contactspage"></div>
</div>