<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.Id}"></td>
        <td th:text="${user.Firstname}"></td>
        <td th:text="${user.Lastname}"></td>
        <td th:text="${user.Email}"></td>
        <td th:text="${user.Password}"></td>
        <td>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>User ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${user.Role.Id}"></td>
                        <td th:text="${user.Role.Name}"></td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td>
            <a th:href="@{'/edit/'+${user.Id}}">Edit</a>&nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete/'+${user.Id}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>